body{
font-family: 'Farro', sans-serif;
 background-image: url("images/intro3.jpg");
 background-size: cover;
}
a{
  color: #fff;
 }
a:hover{
 text-decoration: none;
}

.container{
 width:450px;
 background-color: rgba(24, 33, 52, 0.7);
 margin: 200px auto 0 auto;
 text-align: center;
 box-shadow: 0 -5px 0 #3adbfd;
 padding-bottom: 20px;
}

.container img{
 width:100px;
 height:100px;
 margin: -60px 0 30px 0;
 border: 5px solid #1a394f;
 border-radius: 50%;
 box-shadow: 0 -5px 0 #3adbfd;
}

/*Head*/
.head {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Header*/
.header{
	font-family: 'Farro', sans-serif;
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

.header__logo1{
	width: 70px;
}

/*Nav*/
.nav{
	font-size: 17px;
	text-transform: uppercase;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 13px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;

	background-color: #333;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover{
	color: #333;
}

.nav__link:hover:after{
	display: block;
}

input[type="text"],input[type="password"]{
 width: 300px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
}
.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
.dws-submit {
 padding: 13px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #2ca8c6;
 border: none;
 border-bottom: 4px solid #6ee9fd;
 cursor: pointer;
}
.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: #2c536c;
}

.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
}
.dws-input:nth-child(2)::before{
content: "\f023";
}
.dws-input:nth-child(3)::before{
content: "\f023";
}
.dws-input:hover::before{
 color: #319ebc;
 transition: all 0.3s;
}
.dws-social i{
 color: #fff;
 font-size: 20px;
 width: 20px;
 padding: 10px;
}
.dws-social i:hover{
 background-color: #fff;
 color: #1a394f;
 border-radius: 5px;
 cursor: pointer;
}